<div class="container mt-5">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1><%= @restaurant.name %></h1>
      <table class="table table-bordered mt-3">
        <tbody>
          <tr>
            <th scope="row">Address</th>
            <td><%= @restaurant.address %></td>
          </tr>
          <tr>
            <th scope="row">Phone Number</th>
            <td><%= @restaurant.phone_number %></td>
          </tr>
          <tr>
            <th scope="row">Type</th>
            <td><%= @restaurant.type %></td>
          </tr>
        </tbody>
      </table>

      <div class="list-group">
        <% @restaurant.reviews.each do |review| %>
          <li class="list-group-item">
            <small>
              <% count = 0 %>
              <% 5.times do %>
                <% if review.rating > count %>
                <%# full star %>
                  <i class="fas fa-star"></i>
                <% else %>
                  <%# empty star %>
                  <i class="far fa-star"></i> 
                <% end %>
                <% count += 1 %>
              <% end %>
            </small>
            <p><%= review.content %></p>
          </li>
        <% end %>
      </div>

      <%= simple_form_for [ @restaurant, @review ] do |f| %>
        <%= f.input :rating, collection: 0..5 %>
        <%= f.input :content %>
        <%= f.submit class: 'btn btn-secondary  ' %>
      <% end %>
      <br>
      <%= link_to "Back to restaurants", restaurants_path %>
    </div>
  </div>
</div>